.header {
    grid-area: h;
    /* background: #f6d365; */
    background: #4285F4;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.header h1 {
    
    color: #fff;
}

.header a {
    color: #fff;
    transition: .2s all;
}

.header a:hover {
    color: #4AD3FB;
}