.dialogsContainer {
    display: grid;
    grid-template-columns: 1fr 16fr;
    padding: 20px;
}

.dialog {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dialogs {
    margin-right: 100px;
}

.dialogs .dialog {
    margin-bottom: 20px;
}

.dialogs .active {
    color: gold;
    font-weight: bold;
}

.dialogs .dialog:last-child {
    margin-bottom: 0px;
}


.messages .message {
    margin-bottom: 10px;
}

.messages .message:last-child {
    margin-bottom: 0px;
}

.title h2{
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
    font-style: bold;
}

.title {
    padding: 10px 0;
    width: 100%;
    background: #4285F4;
    text-align: center;
}